# Local files
# src/jobs
__pycache__
.ipynb_checkpoints
test_data
data.zip
src/test_jobs
src/test_estimate.py
test_figures.ipynb
test_simulation-analysis.ipynb
test_individual_analysis.ipynb
test_non-linear_on_MPL.ipynb
test_figures_more_results_on_estimating_covariance.ipynb
backup_figures_20220121.ipynb

# Directories with large files
data
test_data
complete_estimation_output
backup_figures
